<%- include ../includes/header.ejs %>
<div class="h-account">
  <span class="p-account-id"><%= account.id %></span>
  <span class="p-transaction-id"><%= transaction.id %></span>
  <span class="p-transaction-amount"><%= transaction.amount %></span>
  <span class="p-transaction-reference"><%= transaction.reference %></span>
  <span class="p-transaction-partner"><%= transaction.partner %></span>
</div>
<%- include ../includes/footer.ejs %>
